
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<a asp-area="" asp-controller="Home" asp-action="RotativaPDF" class="btn btn-info">Rotativa PDF</a>
<a asp-area="" asp-controller="Home" asp-action="JSReportPDF" class="btn btn-info">JSReport PDF</a>
<a asp-area="" asp-controller="Sample" asp-action="DinkToPDF" class="btn btn-info">Dink to PDF (WebApi)</a>